In [1]:
import pandas as pd

In [10]:
data=pd.read_csv('googleplaystore.csv')

## 1. Display top 5 rows of the dataset

In [11]:
data.head(5)

,1,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,2,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,NaN,NaN,78158306,NaN,NaN,NaN
1,3,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,NaN,NaN,NaN,NaN,Row Labels,Max of Installs
2,4,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,NaN,NaN,Textgram - write on photos,NaN,World Newspapers,0
3,5,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,NaN,NaN,NaN,NaN,Vote for,0
4,6,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,NaN,NaN,NaN,NaN,USMLE Step 2 CK Flashcards,0

## 2. Check last 3 Rows of the dataset

In [12]:
data.tail(3)

,1,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
10838,10840,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1,2.2 and up,NaN,NaN,NaN,NaN,NaN,NaN
10839,10841,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device,NaN,NaN,NaN,NaN,NaN,NaN
10840,10842,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device,NaN,NaN,NaN,NaN,NaN,NaN

## 3. Find shape of our dataset (Number of rows and columns)

In [13]:
data.shape

(10841, 20)

In [14]:
print("Number of Rows: ", data.shape[0])
print("Number of Columns: ", data.shape[1])

Number of Rows:  10841
Number of Columns:  20

## 4. Get information about our dataset like total number of rows, total number of columns, datatypes of each column and memory requirement.

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   1               10841 non-null  int64
 1   App             10841 non-null  object
 2   Category        10841 non-null  object
 3   Rating          9367 non-null   float64
 4   Reviews         10841 non-null  object
 5   Size            10841 non-null  object
 6   Installs        10841 non-null  object
 7   Type            10840 non-null  object
 8   Price           10841 non-null  object
 9   Content Rating  10840 non-null  object
 10  Genres          10841 non-null  object
 11  Last Updated    10841 non-null  object
 12  Current Ver     10833 non-null  object
 13  Android Ver     10838 non-null  object
 14  Unnamed: 14     0 non-null      float64
 15  Unnamed: 15     1 non-null      float64
 16  Unnamed: 16     58 non-null     object
 17  Unnamed: 17     60 non-null     object
 18  Unnamed: 18     9641 non-null   object
 19  Unnamed: 19     9641 non-null   object
dtypes: float64(3), int64(1), object(16)
memory usage: 1.7+ MB

## 5. Get overall statistics about the dataframe

In [18]:
data.describe(include='all')

# in our dataset we have only 1 numerical column.
# that's why it's showing rating
# include='all' - it also shows statistics of categorical column

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
count,10841,10841,9367.000000,10841,10841,10841,10840,10841,10840,10841,10841,10833,10838
unique,9660,34,NaN,6002,462,22,3,93,6,120,1378,2832,33
top,ROBLOX,FAMILY,NaN,0,Varies with device,"1,000,000+",Free,0,Everyone,Tools,"August 3, 2018",Varies with device,4.1 and up
freq,9,1972,NaN,596,1695,1579,10039,10040,8714,842,326,1459,2451
mean,NaN,NaN,4.193338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,0.537431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,4.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 6. Total number of app titles contain Astrology

In [16]:
data.columns

Index(['1', 'App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')

In [17]:
len(data[data['App'].str.contains('Astrology', case=False)])

# "str.contains" is case sensitive
# use "case=False" for case insenstivity

3

## 7. Find average App Rating

In [18]:
data.columns

Index(['1', 'App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')

In [19]:
data['Rating'].mean()

4.193338315362443

## 8. Find Total Number of Unique Category

In [20]:
data.columns

Index(['1', 'App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')

In [21]:
data['Category'].nunique()

34

## 9. Which Category Getting the Highest Average Ratings?

In [22]:
data.columns

Index(['1', 'App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')

In [23]:
data.groupby('Category')['Rating'].mean().sort_values(ascending=False)

Category
1.9                    19.000000
EVENTS                  4.435556
EDUCATION               4.389032
ART_AND_DESIGN          4.358065
BOOKS_AND_REFERENCE     4.346067
PERSONALIZATION         4.335987
PARENTING               4.300000
GAME                    4.286326
BEAUTY                  4.278571
HEALTH_AND_FITNESS      4.277104
SHOPPING                4.259664
SOCIAL                  4.255598
WEATHER                 4.244000
SPORTS                  4.223511
PRODUCTIVITY            4.211396
HOUSE_AND_HOME          4.197368
FAMILY                  4.192272
PHOTOGRAPHY             4.192114
AUTO_AND_VEHICLES       4.190411
MEDICAL                 4.189143
LIBRARIES_AND_DEMO      4.178462
FOOD_AND_DRINK          4.166972
COMMUNICATION           4.158537
COMICS                  4.155172
NEWS_AND_MAGAZINES      4.132189
FINANCE                 4.131889
ENTERTAINMENT           4.126174
BUSINESS                4.121452
TRAVEL_AND_LOCAL        4.109292
LIFESTYLE               4.094904
VIDEO_PLAYERS           4.063750
MAPS_AND_NAVIGATION     4.051613
TOOLS                   4.047411
DATING                  3.970769
Name: Rating, dtype: float64

## 10. Find Total Number of Apps Having 5 Star Rating

In [41]:
data.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [45]:
len(data[data['Rating']==5.0])

274

## 11. Find Average Value of Reviews

In [47]:
data.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [24]:
data['Reviews'].dtype

dtype('O')

In [55]:
# we have to convert data type to Int or float

#data['Reviews'].astype(float)

In [26]:
data[data['Reviews']=='3.0M']

# lets remove this M

,1,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
10472,10474,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
data['Reviews']=data['Reviews'].replace('3.0M',3.0)

In [28]:
data['Reviews']=data['Reviews'].astype('float')

In [29]:
data['Reviews'].dtype

dtype('float64')

In [30]:
data['Reviews'].mean()

444111.9265750392

## 12. Find Total Number of Free and Paid Apps

In [31]:
 data.head(1)

,1,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,2,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,NaN,NaN,78158306,NaN,NaN,NaN

In [32]:
data['Type'].value_counts()

Type
Free    10039
Paid      800
0           1
Name: count, dtype: int64

## 13. Which App has Maximum Reviews?

In [33]:
data.columns

Index(['1', 'App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')

In [34]:
data[data['Reviews'].max()==data['Reviews']]['App']

# ==data['Reviews'] - this filters .max() version from original data frame

2544    Facebook
Name: App, dtype: object

## 14. Display Top 5 Apps Having Highest Reviews

In [35]:
index=data['Reviews'].sort_values(ascending=False).head(5).index

# we want indexes to retrieve all information about this maximum reviews
# lets assign to one variable "index"

In [36]:
data.iloc[index]['App']

# data.iloc[index] - we have to pass this index to iloc method to retrieve rows having maximum reviews
# ['App'] - to filter apps

2544              Facebook
3943              Facebook
381     WhatsApp Messenger
336     WhatsApp Messenger
3904    WhatsApp Messenger
Name: App, dtype: object

## 15. Find Average Rating of Free and Paid Apps

In [37]:
data.head(1)

,1,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,2,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,NaN,NaN,78158306,NaN,NaN,NaN

In [38]:
data.groupby('Type')['Rating'].mean()

Type
0       19.000000
Free     4.186203
Paid     4.266615
Name: Rating, dtype: float64

## 16. Display Top 5 Apps Having Maximum Installs

In [39]:
# 1. first we have to preprocess the data
# 2. then we have to apply the operation

In [40]:
data.head(1)

,1,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,2,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,NaN,NaN,78158306,NaN,NaN,NaN

In [41]:
data['Installs'].dtype

# convert this to int or float

dtype('O')

In [42]:
data['Installs_1']=data['Installs'].str.replace(',','')

In [43]:
data.tail(1)

,1,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,...,Last Updated,Current Ver,Android Ver,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Installs_1
10840,10842,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307.0,19M,"10,000,000+",Free,0,Everyone,...,"July 25, 2018",Varies with device,Varies with device,NaN,NaN,NaN,NaN,NaN,NaN,10000000+

In [44]:
data['Installs_1']=data['Installs_1'].str.replace('+','')

# =data['Installs_1'] - we have working on newly created column(Installs_1), here we've to write "_1"
# lets assign back to "data['Installs_1']""

In [45]:
data.tail(1)

,1,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,...,Last Updated,Current Ver,Android Ver,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Installs_1
10840,10842,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307.0,19M,"10,000,000+",Free,0,Everyone,...,"July 25, 2018",Varies with device,Varies with device,NaN,NaN,NaN,NaN,NaN,NaN,10000000

In [54]:
#data['Installs_1'].astype('int')

In [47]:
# value error, because there is some row having this data

In [48]:
data[data['Installs_1']=='Free']

# we have to convert this "Free" inside installs to 0.

,1,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,...,Last Updated,Current Ver,Android Ver,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Installs_1
10472,10474,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0,"1,000+",Free,0,Everyone,NaN,...,1.0.19,4.0 and up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Free

In [49]:
data['Installs_1']=data['Installs_1'].str.replace('Free','0')

In [50]:
data['Installs_1']=data['Installs_1'].astype('int')

# now it is successfully converted to int
# assign it back - data['Installs_1']=

In [51]:
data['Installs_1'].dtype

dtype('int32')

In [52]:
index=data['Installs_1'].sort_values(ascending=False).head(5).index

In [53]:
data.iloc[index]['App']

3896                              Subway Surfers
3943                                    Facebook
335     Messenger – Text and Video Chat for Free
3523                                Google Drive
3565                                Google Drive
Name: App, dtype: object

Using the iloc() function in python, we can easily retrieve any particular value from a row or column using index values.